# This file contains common pin mappings for the BIGTREETECH SKR mini
# E3 v2.0. To use this config, the firmware should be compiled for the
# STM32F103 with a "28KiB bootloader" and USB communication. Also,
# select "Enable extra low-level configuration options" and configure
# "GPIO pins to set at micro-controller startup" to "!PA14".

# The "make flash" command does not work on the SKR mini E3. Instead,
# after running "make", copy the generated "out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the SKR
# mini E3 with that SD card.

# See docs/Config_Reference.md for a description of parameters.
[include mainsail.cfg]
[include printer_macros.cfg]
[include printer_stepper.cfg]

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_38FFD6055057393511742343-if00



[heater_bed]
heater_pin: PC9
sensor_type: ATC Semitec 104GT-2
sensor_pin: PC3
#control: pid
#pid_Kp: 54.027
#pid_Ki: 0.770
#pid_Kd: 948.182
min_temp: 0
max_temp: 130

[heater_fan heatbreak_cooling_fan]
pin: PC7

[fan]
pin: PC6

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 3000
max_z_velocity: 5
max_z_accel: 100
square_corner_velocity: 5


[static_digital_output usb_pullup_enable]
pins: !PA14

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PB5,  EXP1_3=PA9,   EXP1_5=PA10, EXP1_7=PB8,  EXP1_9=<GND>,
    EXP1_2=PA15, EXP1_4=<RST>, EXP1_6=PB9,  EXP1_8=PB15, EXP1_10=<5V>


[display]
lcd_type: st7920
cs_pin: EXP1_7
sclk_pin: EXP1_6
sid_pin: EXP1_8
encoder_pins: ^EXP1_5, ^EXP1_3
click_pin: ^!EXP1_2

[output_pin beeper]
pin: EXP1_1

[bltouch]
sensor_pin: ^PC2
control_pin: PA1
x_offset: -44
y_offset : -6
#z_offset: 1.8
speed: 3.0

[safe_z_home]
home_xy_position: 117.5, 117.5 # Change coordinates to the center of your print bed
z_hop: 10 # Move up 10mm
z_hop_speed: 5

# [force_move]
# enable_force_move: True

[bed_mesh]
speed: 200
horizontal_move_z: 10
mesh_min: 15, 15
mesh_max: 190, 205
probe_count: 8, 8
algorithm: bicubic

[temperature_sensor raspberry_pi]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

[temperature_sensor SKR_Mini_E3_V2]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

[delayed_gcode bed_mesh_init]
initial_duration: .01
gcode:
  BED_MESH_PROFILE LOAD=default

# [firmware_retraction]
# retract_length: 0.8
# retract_speed: 60
# unretract_extra_length: 0
# unretract_speed: 60

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 29.043
#*# pid_ki = 1.684
#*# pid_kd = 125.248
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 73.381
#*# pid_ki = 1.382
#*# pid_kd = 974.131
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.447500, 0.320000, 0.230000, 0.197500, 0.187500, 0.195000, 0.190000, 0.185000
#*# 	  0.345000, 0.212500, 0.122500, 0.102500, 0.067500, 0.082500, 0.075000, 0.060000
#*# 	  0.257500, 0.137500, 0.065000, 0.050000, 0.055000, 0.087500, 0.107500, 0.127500
#*# 	  0.210000, 0.125000, 0.047500, 0.042500, 0.047500, 0.082500, 0.097500, 0.107500
#*# 	  0.167500, 0.087500, 0.017500, 0.027500, 0.047500, 0.087500, 0.107500, 0.130000
#*# 	  0.137500, 0.067500, 0.015000, 0.022500, 0.077500, 0.125000, 0.177500, 0.197500
#*# 	  0.245000, 0.170000, 0.087500, 0.095000, 0.120000, 0.155000, 0.205000, 0.210000
#*# 	  0.292500, 0.205000, 0.165000, 0.195000, 0.180000, 0.242500, 0.317500, 0.315000
#*# x_count = 8
#*# y_count = 8
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 15.0
#*# max_x = 190.0
#*# min_y = 15.0
#*# max_y = 204.97
#*#
#*# [bltouch]
#*# z_offset = 1.925
